#contenitoreUtente {
    
    background-color: aliceblue;
    height: auto;
    min-width: 540px;
    border: 1px solid black; 
    border-radius: 4px;
    border-color: black;
    line-height: normal;
    padding-bottom: 20px;
    padding-left: 20px ;
    padding-right: 20px ;
    padding-top: 20px;
}

#immagine {
    
    float: left;
    
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

    width: 240px;
    height: 290px;
    
    border: 1px solid black; 
    border-radius: 4px;
    border-color: black;
    background-color: white;
    line-height: normal;
    
    
}

#datiUtente {
    
    margin-bottom: 5px;
    margin-left: 280px;
    margin-right: 20px;
    margin-top: 38px;
    
    padding-bottom: 20px ;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    width: auto;
    height: 250px;
    
    border: 1px solid black; 
    border-radius: 4px;
    border-color: black;
    background-color: white;
    
}

.tabProfessionisti  {   // è un div, anche se l'ho chiamato tab
    
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    
    background-color: inherit;
    
}

#orariLavoro    {
    
    
    clear: both;
    table-layout: fixed;
    
    padding-bottom: 20px;
    padding-top: 20px;
    
    border: 1px solid black;
    border-radius: 4px;
    border-color: black;
    border-collapse: separate;
    border-spacing: 0px;
    
    background-color: white;
    
}

#serviziOfferti {
    
    clear: both;
    table-layout: fixed;
    
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 5px;
    
    border: 1px solid black;
    border-radius: 4px;
    border-color: black;
    border-collapse: separate;
    border-spacing: 0px;
    
    background-color: white;
    
}

#orariLavoro td, #serviziOfferti td  {
    min-width: 100px;
    padding-left: 15px;
    padding-right: 15px;
}


td[id=servizio]  {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#orariLavoro tr:hover, #serviziOfferti tr:hover {
    background-color: cornflowerblue;
}

#serviziOfferti tr[id=chiavi]:hover {
    background-color: inherit;
}


#contenitoreUtente h2  {
    margin-left: 20px;
}

#contenitoreUtente h3{
    clear: both;
    margin-left: 20px;
}

#chiavi {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.bottoneProf  {
    
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: cornflowerblue;
    border: 1px solid darkgray;
    width: auto;
    overflow: visible;
    font-size: 1.4em;
    color: #FFF;
    cursor: pointer;
    padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}

#caricamentoImmagine {
    display: none;
    opacity: 1;
    z-index: 11000;
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFF;
    border-radius: 4px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0 4px rgba(0,0,0,0.7);
}

#Calendario {
    clear: both; 
}
#bottoneImmagine    {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 5px 0 0 5px;
    z-index: 10;
}

#immModifica {
    width: 20px;
    height: 20px;
    opacity: 0.3;
}
#immModifica:hover {
    opacity: 1;
}

#immagineProfilo {
    width: 240px;
    height: 290px;
    border-radius: 4px;
}

#fileLabel {
    max-width: 250px;
}