#aggiunta {
    margin: 0 auto;
    cursor: pointer;
    float: none;
}
#calendar {
    margin: 30px;
    max-width: 1000px;
    max-height: 600px;
}

#wrapServizi {
    position: fixed;
    height: auto;
    width: auto;
    margin-top: 30px;
    top: 120px;
    margin-left: 10px;
    z-index: 0;
}

#external-events {
    float: left;
    width: 230px;
    height:auto;
    padding: 0 10px 10px 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}

#buttonDiv {
    width: 230px;
    height: auto;
    float: left;
    clear: both;
    padding: 10px;
    border: 1px solid #ccc;
    border-top:none;
    background: #eee;

}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

.fc-day.fc-past {
    background-color: #CCCCCC;
}

.closeon {
    color:black;
    position: absolute;
    top: 0;
    right: 0;
    width:13px;
    height: 13px;
    text-align:center;
    border-radius:50%;
    font-size: 10px;
    cursor: pointer;
    background-color: #FFF
}

#cestino {
    width: 230px;
    height: auto;
    float: left;
    clear: both;
    padding: 10px;
    border: 1px solid #ccc;
    border-top:none;
    background: #eee;
}

#immCestino {
    display: block;
    margin:auto;
    padding: 10px;
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
}

#mostraCestino {
    display:block;
    margin:auto;
}

#fineModifica {
    display:block;
    margin:auto;
}

#bottoneCestino {
    width: inherit;
    background-color:inherit;
}

button {
    float:none;
    cursor: pointer;
}