p { font-size: 1.3em; color: #17516E; margin-bottom: 16px; line-height: 140%; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);}


pre { display: block; font-size: 1.2em; color: #17516E;font-family: "Courier", "Courier New"; background: #90BCD4; padding: 12px; margin-bottom: 22px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

/*---------------------------------------

	LEAN MODAL

-----------------------------------------*/

.wrap{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    display:none;
    overflow:auto;
}

#lean_overlay {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

/*---------------------------------------

	LOGIN E REGISTRAZIONE

-----------------------------------------*/

#loginmodal {
    display: none;
    position: relative;
    opacity: 1;
    z-index: 11000;
    left: 50%;
    margin-left: -202px;
    top: 200px;
    width: 404px;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFF;
    border-radius: 4px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0 4px rgba(0,0,0,0.7);
}

#registrazionemodal {
    position: relative;
    display: none;
    opacity: 1;
    z-index: 11000;
    left: 50%;
    margin-left: -233px;
    width: 466px;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFF;
    border-radius: 4px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0 4px rgba(0,0,0,0.7);

}

#test p { color: #666; text-shadow: none; }

#signup-header { background: url(img/hd-bg.png); text-align: center; border-bottom: 1px solid #CCC; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }

#signup-header  h2 { color: #444; font-size: 2em; font-weight: 500; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
#signup-header  p { color: #444; font-size: 1.3em; margin: 0; padding-bottom: 5px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }

.txt-fld { height: 40px; position: relative; padding: 8px 20px; }
.btn-fld { width: auto; overflow: hidden; }
.txt-fld label { display: block; color: red; font-size: 10px; text-align: left;  }
.txt-fld input { width: 280px; padding: 3px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 14px; color: #222; background: #F7F7F7; font-family: "Arial"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; }
.txt-fld input.good_input { background: #DEF5E1 url(img/good.png) 236px center no-repeat; }
.txt-fld input.error_input { background: #FDE0E0; }


p.error { position: absolute; bottom: 48px; right: 20px; width: 262px; color: #FFF; font-size: 1.1em; padding-bottom: 5px; background: url(img/error-arw.png) 20px bottom no-repeat; text-align: left; margin: 0; text-shadow: none; }
p.error span { display: inline-block; background: #D43636; padding: 6px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;  }
.txt-fld input:focus, .txt-fld textarea:focus { background-color: #FAF9DC; }

.desc {
    text-align: left;
    padding-bottom: 14px;
}

#registrazionemodal button {
    
    margin-left: auto;
    width: 140px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: cornflowerblue;
    border: 1px solid darkgray;
    overflow: visible;
    font-size: 1.4em;
    color: #FFF;
    cursor: pointer;
    padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}

#loginmodal button  {
    
    margin-left: 142px;
    width: 120px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: cornflowerblue;
    border: 1px solid darkgray;
    overflow: visible;
    font-size: 1.4em;
    color: #FFF;
    cursor: pointer;
    padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}

label.error {
    
}

.campi {
    margin: 20px;
}

#campi td   {
    text-align: left;
}

