
#contenitoreUtente {
    
    position: absolute;
    
    background-color: aliceblue;
    
    height: auto;
    width: 1291px;
    
    border: 1px solid black; 
    border-radius: 4px;
    border-color: black;
    line-height: normal;
    
    padding-bottom: 20px;
    padding-left: 20px ;
    padding-right: 20px ;
    padding-top: 20px;
    
}

#immagine {
    
    float: left;
    
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

    padding-bottom: 20px ;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    width: 200px;
    height: 250px;
    
    border: 1px solid black; 
    border-radius: 4px;
    border-color: black;
    background-color: white;
    line-height: normal;
    
    
}

#datiUtente {
    
    margin-bottom: 20px;
    margin-left: 280px;
    margin-right: 20px;
    margin-top: 38px;
    
    padding-bottom: 20px ;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    width: auto;
    min-width: 500px;
    height: 250px;
    
    border: 1px solid black; 
    border-radius: 4px;
    border-color: black;
    background-color: white;
    
}

#pastAppTable {
    
    float: left;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 20px;
    table-layout: fixed;
    
    border: 1px solid black;
    border-radius: 4px;
    border-color: black;
    border-collapse: separate;
    border-spacing: 0px;
    
    background-color: white;
    
}

#pastAppTable td  {
    padding-left: 40px;
    padding-right: 40px;
}

#pastAppTable tr:hover {
    background-color: cornflowerblue;
}

tr[id=chiavi]:hover {
    background-color: inherit;
}

#chiavi {
    font-weight: bold;
}

#contenitoreUtente h2 {
    padding-left: 20px;
}

#contenitoreUtente h3 {
    padding-left: 20px;
}

button[id=modifica]  {
    float: right;
    margin-right: 20px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: cornflowerblue;
    border: 1px solid darkgray;
    width: auto;
    overflow: visible;
    font-size: 1.4em;
    color: #FFF;
    cursor: pointer;
    padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}
