body    {
    text-align: left;
    width: inherit;
}

#main {
    width: auto;
    overflow:hidden;
}

.content {
    width: auto;
    float:left;
}

.content:only-child {
    width: auto;
}

.side_content {
    float:left;
    min-height: 480px;
}

.forbiddenAccess {
    background-color: #3baae3;
    border: 2px solid black;
    border-radius: 10px;
    height: 450px;
    margin: 2px;

}

.forbiddenTitle {

}

.banner {
    width: auto;
    height: auto;
    background-color: cornflowerblue;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
}

.mainButtons {
    clear:both;
    width:auto;
    height: 40px;
    border: 1px solid black;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    justify-content: center;
    align-items: center;
    display:flex;
    background-color: cornflowerblue;
}

a.buttonElem {
    width: 100px;
    height: inherit;
    padding-left:1%;
    padding-right:1%;
    justify-content:center;
    align-items:center;
    display:flex;
    font-family: "Tahoma",Geneva,sans-serif;
    font-size:12px;
    color:black;
    font-weight:700;
    text-transform: uppercase;
    background-color: cornflowerblue;
}

a.buttonElem:link, a.buttonElem:visited {
    text-decoration:none;
}

a.buttonElem:hover {
    color:white;
    background-color: #3baae3;

}

.logRegElem {
    float:right;
}

.profList {
    border: 1px solid lightblue;
    border-radius: 4px;
    margin: 3px;
    justify-content: center;
    align-items: center;
    min-width: 150px;
}

.profLink {
    font-weight: 100;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    color: lightblue;
}
.profLink:link,:visited {
    text-decoration: none;
}

.profLink:hover {

}

.profWrapper {
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.profContainer {

    max-width: 500px;
    min-height: 400px;
}
